.button-box {
  width: 100%;
  text-align: right;
}

.button-text {
  margin-right: 10px;
}

.button-basic {
  border: 0px;
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 15px;
}
