._card_1r93x_1 {
  width: 212px;
  height: 132px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

._basic_1r93x_9 {
  background-color: #333333;
  box-shadow: 3px 3px 5px 0px #00000040;
}
._cardBody_1r93x_13 {
  margin: 13px 4px 13px 4px;
}
._cardNumber_1r93x_16 {
  display: flex;
  gap: 5px;
}

._box_1r93x_21 {
  height: 20px;
  margin-bottom: 8px;
}

._chip_1r93x_26 {
  width: 36px;
  height: 22px;
  background-color: #ddcd78;
  border-radius: 3px;
}

._cardNetwork_1r93x_33 {
  width: 36px;
  height: 22px;
  border-radius: 3px;
}

._cardHeader_1r93x_39 {
  display: flex;
  justify-content: space-between;
}

._cardNumberDisplay_1r93x_44 {
  width: 44px;
  height: 18px;
  margin: 0px;
}
._error_1baob_1 {
  color: red;
}
._basic_8n5l7_1 {
  border: 1px solid #acacac;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #000;
    border-color: transparent;
  }
}

._error_8n5l7_10 {
  border: 1px solid red;
  &:focus {
    outline: none;
    border: 2px solid red;
  }
}

._input_8n5l7_18 {
  height: 32px;
  color: black;
  font-size: 16px;
  min-width: 0;
  border-radius: 5px;
  flex-grow: 1;

  &::placeholder {
    color: #acacac;
  }
}

/* 가운데 정렬  */
/* input box 사이즈, gap */
._title_m1r3g_1 {
  font-size: 1.3rem;
}

._description_m1r3g_5 {
  font-size: 0.8rem;
  color: #acacac;
}

._subtitle_m1r3g_10 {
  font-size: 1rem;
}

._inputContainer_m1r3g_14 {
  display: flex;
  gap: 0.5rem;
}
._placeholder_2kt8c_1 {
    color: #acacac;
  }
._cardForm_29pnk_1 {
  width: 24rem;
  margin: 0px auto;
}

._main_29pnk_6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #fff;
}
._button_jz6sz_1 {
    width: 375px;
    height: 52px;
    background-color: #000000;
    font-size: 15px;    
    color: #ffffff;
    cursor: pointer;
}

._button_jz6sz_1:hover {
    background-color: #333333;
}


._link_jz6sz_15 {
    text-decoration: none;
}
._container_16fpd_1 {
    text-align: center;
}
